.telegramLink__container {
  width: 100%;
  max-width: 878px;
  margin: 0 auto;
  margin-bottom: 150px;
  background: #f4f4f4;
  padding: 50px 30px;
}
.link-header {
  font-family: "Garamond", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px; //18
  line-height: 32px; //24
  color: #000000;
  width: 701px;
  margin-bottom: 20px;
}
.div-link {
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #000000;
}
.tg-link {
  font-family: "Cera Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px; //12
  line-height: 18px;
  text-align: center;
  color: #000000;
  display: block;
  box-sizing: content-box;
  padding: 16px 68px;
}
@media (max-width: 730px) {
  .link-header {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .telegramLink__container {
    margin-bottom: 0;
  }
  .link-header {
    font-size: 18px;
    line-height: 24px;
  }
  .tg-link {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .link-header {
    width: 305px;
  }
  .tg-link {
    width: 253px;
    padding: 16px 26px;
    margin: 0 auto;
  }
}
@media (max-width: 368px) {
  .link-header {
    width: 305px;
  }
  .tg-link {
    width: 253px;
    padding: 16px 15px;
    margin: 0 auto;
  }
}
@media (max-width: 345px) {
  .tg-link {
    padding: 16px 10px;
  }
}
@media (max-width: 335px) {
  .tg-link {
    padding: 16px 5px;
  }
  .link-header {
    width: 100%;
  }
}
