.blogHeader__p {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  width: 315px;
  margin-bottom: 40px;
}
@media (max-width: 870px) {
  .blogHeader__p {
    font-size: 14px;
    line-height: 24px;
    width: 218px;
  }
}
@media (max-width: 549px) {
  .load {
    top: -50px;
  }
}
