.portHeader__container {
  max-width: 1150px;
  width: 99%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  margin-bottom: 500px;
  position: relative;
}

.loader_ {
  position: absolute;
  top: -90px;
  right: 12px;
  border: 30px solid #f7f7f7;
  border-top: 30px solid #000;
  border-radius: 50%;
  width: 122px;
  height: 122px;

  animation: spin 1s linear infinite;
  animation-fill-mode: forwards;

  &:hover {
    animation-duration: 0.5s;
  }
}

.about .portHeader__container .loader_ {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.portHeader__header {
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #000;
}
@media (max-width: 1185px) {
  .loader_ {
    right: 5%;
  }
}
@media (max-width: 870px) {
  .portHeader__container {
    padding-left: 15px;
  }

  .loader_ {
    width: 70px;
    height: 70px;
    top: -50px;
    border: 15px solid #f7f7f7;
    border-top: 15px solid #000;
    right: 45px;
  }
  .portHeader__header {
    font-family: Garamond;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
  }
}

@media (max-width: 549px) {
  .about .portHeader__container {
    margin-bottom: 0;
  }

  .portHeader__container {
    margin-bottom: 400px;
  }

  .about .header .loader_ {
    right: 4%;
  }
  .load {
    top: -100px;
  }
}
@media (max-width: 450px) {
  .loader_ {
    top: -150px;
    right: 4%;
  }
  .load {
    top: -100px;
  }
}
@media (max-width: 330px) {
  .portHeader__container {
    .load {
      right: 9%;
    }
  }
}
